.cursor {
  cursor: pointer;
}

.c-red {
  color: red;
}

.fz-18 {
  font-size: 30px;
}

.p-c-blue {
  color: blue;
}

.p-fz-50 {
  font-size: 50px;
}

.p-container {
  p:first-of-type {
    font-size: 20px;
  }

  p:last-of-type {
    font-size: 30px;
  }
}

.p-container:hover {
  p:first-of-type {
    font-size: 30px;
  }

  p:last-of-type {
    font-size: 40px;
  }
}

